/* You can add global styles to this file, and also import other style files */
.card{
    margin-top: 10%
    
}
.btn-primary{
    color: #fff;
    background-color: rgb(19, 119, 226);
    border-color: #3188e6;
}
.footer{
    background-color: darkgray;
}