<div class="container">
  <div class="row">
    <div class="col md-4 mt-5">
    <div class="card" style="width:18rem" margin="1000%">
        <img class="card-img-left" src="https://www.traccar.org/images/server/feature-server.svg"  alt="https://www.traccar.org/" width="64" height="64">
        <div class="card-body">
          <h5 class="card-text">server </h5>
          <p class="card-text">Traccar software provides high performance and stability on Windows, Linux or any other platform. The server can be self-hosted in the cloud or on-premise. We also provide a number of hosted options with professional support..</p>
        </div>
        
      </div>
      </div> 
   
      <div class="col md-4 mt-5">
          <div class="card" style="width:18rem" margin="1000%">
          <img class="card-img-left" src="https://www.traccar.org/images/server/feature-devices.svg"  alt="https://www.traccar.org/" width="64" height="64">
          <div class="card-body">
            <h5 class="card-text">Devices </h5>
            <p class="card-text">Traccar includes a modern fully-featured web interface with both desktop and mobile-friendly layouts. We also provide native mobile apps for Android and iOS platforms. In addition to that we have a set of apps enabling mobile devices to be used as GPS trackers.</p>
          </div>
          </div>
        
        </div>
        <div class="col md-4 mt-5">
            <div class="card" style="width:18rem" margin="1000%">
            <img class="card-img-left" src="https://www.traccar.org/images/server/feature-mobile.svg"  alt="https://www.traccar.org/" width="64" height="64">
            <div class="card-body">
              <h5 class="card-text">Interface </h5>
              <p class="card-text">Traccar software provides high performance and stability on Windows, Linux or any other platform. The server can be self-hosted in the cloud or on-premise. We also provide a number of hosted options with professional support.</p>
            </div>
            
          </div>
          </div>
      </div>
      
    
      <div class="container">
          <div class="row">
            <div class="col md-4 mt-5">
            <div class="card" style="width:18rem" margin="1000%">
                <img class="card-img-left" src="https://www.traccar.org/images/server/feature-live.svg"  alt="https://www.traccar.org/" width="64" height="64">
                <div class="card-body">
                  <h5 class="card-text">Live Tracking </h5>
                  <p class="card-text">With Traccar you can view your GPS devices in real-time with no delay. We have various mapping options, including road maps and satellite imagery. The Server can handle a wide variety of sensors and additional information supplied by GPS units.</p>
                </div>
                
              </div>
              </div> 
           
              <div class="col md-4 mt-5">
                  <div class="card" style="width:18rem" margin="1000%">
                  <img class="card-img-left" src="https://www.traccar.org/images/server/feature-alerts.svg"  alt="https://www.traccar.org/" width="64" height="64">
                  <div class="card-body">
                    <h5 class="card-text">Alerts </h5>
                    <p class="card-text">Traccar software provides instant web notifications along with support for email and SMS. This allows for external alerting in cases of harsh driving behaviour like speeding, fuel and maintenance events, geo-fencing and many other types of alerts.</p>
                  </div>
                  
                </div>
                </div>
                
                <div class="col md-4 mt-5">
                    <div class="card" style="width:18rem" margin="1000%">
                    <img class="card-img-left" src="https://www.traccar.org/images/server/feature-reports.svg"  alt="https://www.traccar.org/" width="64" height="64">
                    <div class="card-body">
                      <h5 class="card-text">Reports </h5>
                      <p class="card-text">Traccar supports simple location history, trip, chart and summary reports. You can view data directly in the web or mobile app and also export and download an Excel file. History can also be projected on the map providing visual representation.</p>
                    </div>
                    
                  </div>
                  </div>
              </div>
     