
 <!-- <div class="container">
   
    <div class="row">
      <div class="col-md-12">
        <app-bt-navi></app-bt-navi>
      </div>
    </div>
  </div>

  <div class="jumbotron bg-primary  ">
    <div class="row">
      <div class="col-md-12">
        <app-bt-jumb></app-bt-jumb>
      </div>
    </div>
  </div>
  

<div class="container">
    <div class="row">
      <div class="col-md-12 mt-5"></div>
      <app-bt-crd [crd]= "{imgUrl:'https://www.traccar.org/images/server/feature-server.svg', ttl:'server', msg: 'Traccar software provides high  and stability on Windows, Linux or any other platform. The server can be self-hosted in the cloud or on-premise. We also provide a number of hosted options with professional support.' }"></app-bt-crd>
    </div>
  </div>
        
  div class="container">
    <div class="row">
      <div class="col-md-12 mt-5"></div>
      <app-bt-crd [crd]= ></app-bt-crd>
    </div>
  </div>
     


    
<div class= "mt-5 mb-0"></div>
  <hr class="my-4">

  <div class="container">
      <div class= "row">
        <div class="col-md-4 mt-5" >
               <h3>Ready to get started?</h3>
        </div>
        <div class="col-md-4 mt-5 ">
               <div class="btn btn bg-primary m-2 ">get server</div>
              <div class="btn btn bg-white border-primary text-primary m-2" style="margin-left: 10px">Get account</div>
        </div>
       </div>
  </div>

  <div class= "mt-5 mb-0"></div>
         <hr class="my-4">


  <div class="container">
    <div class= "col">
      <div class="row">
        <p>
            Support for more than 170 GPS protocols and more than 1500 models of GPS tracking devices.
        </p>
      </div>
      <div class="row mb-2">
          <a href="xyz" >List of supported devices>> </a>
          
        </div>
        <img class="mt-5 mb-5" style="width:100%" src="https://www.traccar.org/images/server/brands.svg">

    </div>
  </div>

<footer>
    <div class="jumbotron">
  <div class="container">
  
    <div class="row">

      <div class="col-md-4 ml-5">
        <h6 class="text-upperlink mb-2">USEFUL LINKS</h6>
        <nav class="nav flex-column">
          <a class="nav-link-active mb-3" href="https://www.traccar.org/quick-start/">Quick start </a>
          <a class="nav-link-active mb-3" href="https://www.traccar.org/devices/">Devices </a>
          <a class="nav-link-active mb-3" href="https://www.traccar.org/download/">Download </a>
          <a class="nav-link-active mb-3" href="https://www.traccar.org/documenttation/">Documentation</a>
          <a class="nav-link-active" href="https://www.traccar.org/source-code/">Source code </a>
        </nav>
      </div>
    


      <div class="col-md-4">
          <h6 class="text-upperlink">Community</h6>
          <nav class="nav flex-column">
            <a class="nav-link-active" href="https://www.traccar.org/blog/">Blog </a>
            <a class="nav-link-active" href="https://www.traccar.org/forumd/">Forums </a>
            <a class="nav-link-active" href="https://www.traccar.org/support/">Support </a>
            
          </nav>
        </div>

        
        <div class="col-md-3">
            <h6 class="text-upperlink">TRACCAR</h6>
            <nav class="nav flex-column">
              <a class="text">Traccar is a free and open source modern GPS tracking system.

                </a>
              <a class="nav-link-active" href="https://www.traccar.org/subscribe/">subscribe </a>to the project news and updates
              
              
            </nav>
          </div>
          
                
    </div>

    <div class="row py-5">
        <div class="col text-muted">@
          <span class="text">Copyright 2009-2018 Traccar Ltd</span>
          <a class="text-muted d-none d-lg-inline ml-5" href="https://www.traccar.org/public-offer/">Public Offer [Публичная Оферта]</a>
        
          <span class="pull-right">
              <a class="text-muted m1-3" href="https://www.facebook.com/traccar">
              <i class="fa fa-facebook-square fa-lg">
                ::before</i>
              </a>
        </span>
        
        </div>
        </div>
      </div>

        
      
      </div>
  
 
</footer>
  


   -->
  
       <app-databinding></app-databinding>
     
       <app-pro-bar></app-pro-bar>
